.card {
  background-color: black;
  width: 700px;
  color: white;
  margin: 0 auto;
  padding: 40px;
}

h1,
p {
  margin-top: 0px;
}

h1 {
  font-size: 24px;
  color: yellow;
  margin-bottom: 25px;
}

.links {
  margin-bottom: 0px;
}

.para-text {
  margin-bottom: 35px;
}

.button {
  display: inline-block;
  background-color: yellow;
  text-decoration: none;
  padding: 15px 30px;
  color: black;
  font-weight: bold;
  margin-right: 25px;
}

.redir {
  color: yellow;
  font-weight: bold;
}

.span-el {
  font-weight: bold;
  color: yellow;
}
